<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Media List #1</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Lab Network Media List</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Title</string>
			<key>Key</key>
			<string>media_list_1_title</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
			<key>DefaultValue</key>
			<string>https://commondatastorage.googleapis.com/gtv-videos-bucket/CastVideos/f.json</string>
			<key>Key</key>
			<string>media_list_1_url</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Media List #2</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Public Media List</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Title</string>
			<key>Key</key>
			<string>media_list_2_title</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>https://commondatastorage.googleapis.com/gtv-videos-bucket/CastVideos/f.json</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>media_list_2_url</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Media List #3</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Media List #3</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Title</string>
			<key>Key</key>
			<string>media_list_3_title</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>media_list_3_url</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Media List #4</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Media List #4</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Title</string>
			<key>Key</key>
			<string>media_list_4_title</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>media_list_4_url</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>URL</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
